#dateInfo {
  font-size: 18pt;
  width: 400px;
  text-align: center;
}

canvas {
  border:1px solid gray;
}

table.open td {
  border: 1px solid gray;
  margin: 3px;
  padding: 3px;
}

.rightAlign {
  text-align: right;
}

table.open th {
  border-width: 0 2px 2px 0;
  border-style: none solid solid none;
  border-color: gray;
  margin: 3px;
  padding: 3px;
  font-weight: normal;
}

.arrow {
  cursor: pointer;
  color: gray;
}

.chosen {
  font-weight: bold;
  color: red;
}

